.venv/*
local.env
.DS_Store
data/bandsintown/*
data/dice/*
data/foggynotions/*
data/nialler/*
data/ra/*
data/rte/*
data/visitdublin/*
data/workmans/*
gteo.json
optimised_extractor_claude.json
optimised_extractor.json
